include ./position-state
include ./industry-function
include ./custom
include ./custom-manager
include ./city
include ./salary

ul.nav-list
  li(
    v-repeat="val in list",
    v-class="active: $index == activeListIndex",
    v-on="click: onNavListLi1Click($event, val, $index)",
    v-cloak
  )
    .nav-title.container
      i.icon-nav.icon-nav-cat(v-class="val.iconClassName")
      span {{val.text}}
      i.icon-nav-arrow.fa(v-class="fa-chevron-down: !val.active, fa-chevron-up: val.active")
      .nav-mask(v-if="$index == 1")
    .nav-content
      position-state(v-if="val.desc === 'position-state'")
      industry-function(v-if="val.desc === 'industry-function'")
      custom(v-if="val.desc === 'custom'")
      custom-manager(v-if="val.desc === 'custom-manager'")
      city(v-if="val.desc === 'city'")
      salary(v-if="val.desc === 'salary'")

.nav-main-search
  input(
    type="text",
    v-model="mainSearch.text",
    v-attr="placeholder: mainSearch.placeholder",
    v-on="keyup: onKeyUp($event, mainSearch.text) | key 'enter'"
  )
  i.icon-nav.icon-nav-cat.icon-nav-search
