template#template-talent-recommending
  li.info-talent-person
    p.talent-desc
      a.talen-name(href='#') {{name}}
      i.img.img-info-new(v-if="isNew")
    p.talent-level
      i.img.img-talent.img-talent-level-active(v-repeat="level")
      i.img.img-talent.img-talent-level(v-repeat="5 - level")

template#template-talent-matched
  li.info-talent-person
    p.talent-desc
      a.talen-name(href='#') {{name}}
      i.img.img-info-new(v-if="isNew")
    p.talent-level
      i.img.img-talent.img-talent-level-active(v-repeat="level")
      i.img.img-talent.img-talent-level(v-repeat="5 - level")

template#template-position-item
  .my-position-info-item.clearfix
    .info-col-t
      input(type='checkbox')
    .info-col-a
      .info-desc.clearfix
        h2.info-position {{desc.position}} {{desc.name}}
        h3.info-company {{desc.company}}
        a.talent-btn(href='#')
          img(src='images/talent-btn.jpg', width='16', height='16')
    .info-col-b
      .info-talent-recommending.clearfix.info-talent-list-container
        ul.info-talent-list
          //- talent-recommending(v-repeat="recommending")
          li.info-talent-person(
            v-repeat="val in recommending"
            v-show="val.active"
            v-transition="expand"
            stagger="100"
          )
            p.talent-desc
              a.talen-name(href='#') {{val.name}}
              i.img.img-info-new(v-if="val.isNew")
            p.talent-level
              i.img.img-talent.img-talent-level-active(v-repeat="val.level")
              i.img.img-talent.img-talent-level(v-repeat="5 - val.level")
        a.talent-btn(
          href='#'
          v-on="click:onClickRecommendingBtn($event, this, $index)"
        )
          img(src='images/talent-btn.jpg', width='16', height='16')
    .info-col-c
      .info-talent-matched.clearfix.info-talent-list-container
        ul.info-talent-list
          talent-matched(v-repeat="matched")
    .info-col-d
      .info-talent-update.clearfix
        h5.ymd {{update.ymd}}
        h5.hms {{update.hms}}
    .info-col-e
      p
        a.img-item-4.img-item-record(href='#')
        a.img-item-4.img-item-note(href='#')
        a.img-item-4.img-item-heart(href='#')
        a.img-item-4.img-item-trash(href='#')