#content
  .container
    #publish-delegate
      ul.tab-h
        li
          a(href="#")
            img(src="images/nav-publish.jpg", width="85", height="34")
        li
          a(href="#")
            img(src="images/nav-delegate.jpg", width="85", height="34")
    #site-tab.tab
      ul.tab-title#site-tab-title
        li(
          v-repeat="val in tabTitles",
          class="{{$index == tabTitles.length - 1 ? 'tab-title-last' : ''}}"
        )
          a(href="val.href") {{val.title}}
      .container
        .tab-content
          .my-position-nav#position-nav-main
            ul
              li(v-repeat="item in list")
                .tab-title
                  i(class="{{item.tabTitle.imgClassName}}")
                  span {{item.tabTitle.title}}
                  i.caret
                .tab-content
            #position-search
              .tab-title
                input(type="text")
                i.img.img-magnify
                span.position-search-placeholder 搜索
              .tab-content
          .row-main
            .my-position-content
              #my-position-content-title
                .container
                  .info-col-t
                  .info-col-a
                    h2 {{title.position}}
                  .info-col-b
                    h2 {{title.recommending}}
                  .info-col-c
                    h2 {{title.matched}}
                  .info-col-d
                    h2 {{title.update}}
                  .info-col-e
              #my-position-info-list
                .container
                - var len = 12;
                - while (len-- >= 0)
                  include ./content-item
              #pagination
                p
                  a(href="#") 1
                  a(href="#") 2
                  a(href="#") 3
                  a(href="#") 4
                  a(href="#") 5
                  a(href="#") 6
                  a(href="#") 7
                  a(href="#") 8
                  a(href="#") 9
                  span ...
                  a(href="#").last Last
                .pagination-next
                  a(href="#") Next
                  a(href="#").pagination-next-img
                    img.fr(
                      src="images/pagination-next.jpg",
                      width="16",
                      height="20"
                    )
          .row-side
            .side-img-1
              a(href="#")
                img(src="images/side-img-1.jpeg")
            .side-img-2
              .side-img-item
                .side-img-item-img
                  a(href="#")
                    img(src="images/side-item.jpg")
                p.side-img-item-title
                  a(href="#") 联合货币
                p.side-img-item-content
                  a(href="#") SegmentFault是一个面向中文开发者的专业技术社区及服务平台
              .side-img-item
                .side-img-item-img
                  a(href="#")
                    img(src="images/side-item.jpg")
                p.side-img-item-title
                  a(href="#") 联合货币
                p.side-img-item-content
                  a(href="#") SegmentFault是一个面向中文开发者的专业技术社区及服务平台
              .side-img-item
                .side-img-item-img
                  a(href="#")
                    img(src="images/side-item.jpg")
                p.side-img-item-title
                  a(href="#") 联合货币
                p.side-img-item-content
                  a(href="#") SegmentFault是一个面向中文开发者的专业技术社区及服务平台

