mixin show-user(ouser)
  +show-user-base(ouser)
  +show-user-info(ouser.info)
  +show-user-function()

mixin show-user-base(ouser)
  #user-base
    +say-hello-to-user(ouser.name)
    +show-date-for-user(ouser.date)
    +show-address-for-user(ouser.address)

mixin say-hello-to-user(name)
  .user-hello
    h2
      span.username #{name}
      |&nbsp;, 早上好

mixin show-date-for-user(odate)
  p#date
    i.date-week #{odate.week}
    i.date-year #{odate.year}
    i.date-month #{odate.month}
    i.date-day #{odate.day}

mixin show-address-for-user(oaddress)
  - var weatherConditionImage = "weather-condition-image";
  p.weather-info
    i#user-city #{oaddress.name}
    i#temperature  #{oaddress.temperature}
    i.weather-du o
    i C
  p.weather-quality
    i 空气质量:
    i#weather-quality-condition  #{oaddress.airQualityCondition}
    +show-weather-condition(oaddress.weatherCondition)

mixin show-weather-condition(weatherCondition)
  if weatherCondition
    case weatherCondition
      when "perfect"
        a.img.img-weather.weather-condition-image
      when "good"
        a.img.img-weather.weather-condition-image
      when "rain"
        a.img.img-weather.weather-condition-image
      when "cloudy"
        a.img.img-weather.weather-condition-image
      when "very big rain"
        a.img.img-weather.weather-condition-image
      when "big rain"
        a.img.img-weather.weather-condition-image
      when "middle rain"
        a.img.img-weather.weather-condition-image
      when "small rain"
        a.img.img-weather.weather-condition-image
      when "very small rain"
        a.img.img-weather.weather-condition-image
      default
        a.img.img-weather.weather-condition-image

mixin show-user-info(info)
  #user-info
    p
      span
        a.user-info-num#user-info-num-receive-cvs(href="#")
          |#{info.receive}
      a(href="#") 收到简历
    p
      span
        a.user-info-num#user-info-num-delegate-position(href="#")
          |#{info.delegate}
      a(href="#") 委托职位
    p
      span
        a.user-info-num#user-info-num-recommend-feedback(href="#")
          |#{info.recommendFeedback}
      a(href="#") 推荐反馈
    p
      span
        a.user-info-num#user-info-num-feedback-apply(href="#")
          |#{info.feedbackApply}
      a(href="#") 反馈申请
    p
      span
        a.user-info-num#user-info-num-build-match(href="#")
          |#{info.buildMatch}
      a(href="#") 建立匹配

mixin show-user-function()
  #user-function
    .user-publish-postion
      a.img.img-publish-position(href="#")
    .user-deledate-postion
      a.img.img-delegate-position(href="#")