template#template-pagination
  .pagination(v-show="active")
    .pagination-prev
      a(href="#", v-on="click: onClick($event, cur - 1)") Prev
    p
      a(href="#", v-on="click: onClick($event, 0)").start Start
      a(
        href="#",
        v-repeat="i in len",
        v-show="i <= start + remaining && i > start - 1",
        v-class="active: cur === i",
        v-on="click: onClick($event, i)"
      ) {{i + 1}}
      span(v-show="start + remaining < len - 1") ...
      a(href="#", v-on="click: onClick($event, len - 1)").last Last
    .pagination-next
      a(href="#", v-on="click: onClick($event, cur + 1)") Next
      //a(href="#", v-on="click: onClick($event, cur + 1)")
      //  img.fr(
      //    src="../../../images/pagination-next.jpg",
      //    width="16",
      //    height="20"
      //  )
