- var I_MAX_INDUSTRY_ITEM = 4;

mixin selection-job-states(arrNames)
  ul.selection-job-btns
    each val in arrNames
      li
        a(href="#") #{val}

mixin selection-industries(aindustries)
  each industry in aindustries
    .selection-industry
      a.selection-industry-name #{industry.name}
      ul.selection-industry-list.clearfix
        each item, index in industry.items
          if index < I_MAX_INDUSTRY_ITEM
            li
              a.selection-industry-item-name #{item.name}
              p.selection-industry-item-content
                each val in item.content
                  a(href="#") #{val}

mixin selection-cities(cities)
  p.selection-city-i
    a(href="#").active 全国
    each val in cities.i
      a(href="#") #{val}
  p.selection-city-ii
    each val in cities.ii
      a(href="#") #{val}
  p.selection-city-iii
    each val in cities.iii
      a(href="#") #{val}

mixin selection-customers(customers)
  ul
    each val in customers
      li
        a.selection-customer-name #{val.industryName}
        .selection-customer-content
          each val2 in val.industryCompanies
            a(href="#") #{val2}

mixin selection-managers(managers)
  ul
    each val in managers
      li
        each val2 in val
          a(href="#") #{val2}

mixin selection-memu(data)
  .selection-nav-list.clearfix
    a.selection-nav.selction-nav-job-state(href="#", index="0")
      i.img.img-selction.img-job-state
      span 职位状态
      .selection-mask
    a.selection-nav.selction-nav-industry-function(href="#", index="1")
      i.img.img-selction.img-industry-function
      span 行业职能
      .selection-mask
    a.selection-nav.selction-nav-cities(href="#", index="2")
      i.img.img-selction.img-cities
      span 城市
      .selection-mask
    a.selection-nav.selction-nav-customer(href="#", index="3")
      i.img.img-selction.img-customer
      span 客户
      .selection-mask
    a.selection-nav.selction-nav-customer-manager(href="#", index="4")
      i.img.img-selction.img-customer-manager
      span  客户经理
      .selection-mask
  .selection-content-list
    .selection-content.selection-content-job-states(index="0")
      +selection-job-states(data.jobStates)
    .selection-content.selection-content-industries-function(index="1")
      +selection-industries(data.industries)
    .selection-content.selection-content-cities(index="2")
      +selection-cities(data.cities)
    .selection-content.selection-content-customers(index="3")
      +selection-customers(data.customers)
    .selection-content.selection-content-managers(index="4")
      +selection-managers(data.managers)
  #selection-menu-search
    input(type="text")
    a.img.img-magnify(href="#")

if data
  +selection-memu(data.content.selection.memu)