mixin talent(arr)
  - var maxLevel = 5;
  each val in arr
    li.info-talent-person
      p.talent-desc
        a.talen-name(href='#') #{val.name}
        if val.isNew
          i.img.img-info-new
      p.talent-level
        while val.level-- > 0
          i.img.img-talent.img-talent-level-active
        - var left = maxLevel - val.level;
        while left-- > 0
          i.img.img-talent.img-talent-level

if data && data.items
  each item in data.items
    .my-position-info-item.clearfix
      .info-col-t
        input(type='checkbox')
      .info-col-a
        .info-desc.clearfix
          h2.info-position #{item.desc.position} #{item.desc.name}
          h3.info-company #{item.desc.company}
          a.talent-btn(href='#')
            img(src='images/talent-btn.jpg', width='16', height='16')
      .info-col-b
        .info-talent-recommending.clearfix
          ul.info-talent-list
            +talent(item.recommending)
          a.talent-btn(href='#')
            img(src='images/talent-btn.jpg', width='16', height='16')
      .info-col-c
        .info-talent-matched.clearfix
          ul.info-talent-list
            +talent(item.matched)
      .info-col-d
        .info-talent-update.clearfix
          h5.ymd #{item.update.ymd}
          h5.hms #{item.update.hms}
      .info-col-e
        p
          a.img-item-4.img-item-record(href='#')
          a.img-item-4.img-item-note(href='#')
          a.img-item-4.img-item-heart(href='#')
          a.img-item-4.img-item-trash(href='#')
