#content
  .container
    #publish-delegate.hidden
      ul.tab-h
        li(v-on="click: publish")
          a(href="#")
            img(src="images/nav-publish.jpg", width="85", height="34")
        li(v-on="click: delegate")
          a(href="#")
            img(src="images/nav-delegate.jpg", width="85", height="34")
    #site-tab.tab
      ul.tab-title#site-tab-title(v-cloak)
        li(
          v-repeat="val in tabTitles",
          v-class="tab-title-last: $index == tabTitles.length - 1, active: $index == activeIndex",
          v-on="click: onClick($event, val, $index)"
        )
          a(href="val.href") {{val.title}}
      .container
        .tab-content
          .my-position-nav#position-nav-main(v-cloak)
            ul#position-tab-titles
              include ./tab-title-item
            #position-search
              .tab-title
                input(
                  type="text",
                  v-on="focus: positionSearchFocus, blur: positionSearchBlur",
                  v-model="positionSearchValue"
                )
                i.img.img-magnify
                span.position-search-placeholder {{ positionSearchHolder }}
              .tab-content
          #position-nav-result(v-cloak)
            p.show-result
              span {{results}}
              |results
            ul.clearfix
              li(v-repeat="items")
                span {{$value}}
                a(href="#", v-on="click: onClick($event, $index)").fa.fa-remove
              li.reset
                a(href="#", v-on="click: empty($event)") reset
          .row-main
            .my-position-content
              include ./position-item
              #my-position-info-list(v-cloak)
                .container
                  #my-position-items(v-show="activeIndex === 0")
                    my-position-content-title
                    my-position-items(
                      wait-for="data-loaded",
                      v-repeat="contents[0].items[contents[0].curIndex]",
                    )
                  #delegated-position-items(v-show="activeIndex === 1")
                    delegated-title
                    delegated-position-items(
                      wait-for="data-loaded",
                      v-repeat="contents[1].items[contents[1].curIndex]",
                    )
              #pagination(v-show="active", v-cloak)
                .pagination-prev
                  a(href="#", v-on="click: onClick($event, cur - 1)") Prev
                p
                  a(href="#", v-on="click: onClick($event, 0)").start Start
                  a(
                    href="#",
                    v-repeat="i in sum",
                    v-show="i <= start + remaining && i > start - 1",
                    v-class="active: cur === i"
                    v-on="click: onClick($event, i)"
                  ) {{i + 1}}
                  span(v-show="start + remaining < sum - 1") ...
                  a(href="#", v-on="click: onClick($event, sum - 1)").last Last
                .pagination-next
                  a(href="#", v-on="click: onClick($event, cur + 1)") Next
                  a(href="#", v-on="click: onClick($event, cur + 1)")
                    img.fr(
                      src="images/pagination-next.jpg",
                      width="16",
                      height="20"
                    )
          .row-side#content-side-imgs(v-cloak)
            .side-img-1
              a(href="{{img1.href}}")
                img(v-attr="src:img1.imgSrc")
            .side-img-2
              .side-img-item(v-repeat="item in items")
                .side-img-item-img
                  a(href="#")
                    img(v-attr="src:item.imgSrc")
                p.side-img-item-title
                  a(href="{{item.href}}") {{item.title}}
                p.side-img-item-content
                  a(href="{{item.href}}") {{item.content}}
